/* src/components/GameColumn.css */

.column__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding-bottom: 12px; /* Отступ до разделителя */
    border-bottom: 2px solid #333; /* Более заметный разделитель */
    margin-bottom: 20px; /* Отступ после разделителя */
}

.column__title {
    font-size: 1.1em; /* Размер заголовка */
    font-weight: 700; /* Более жирный */
    letter-spacing: 0.5px; /* Немного разряженный текст */
    color: #2c3055;
}

.column__view-more {
    color: red; /* Красный цвет, как в оригинале */
    text-decoration: none; /* Убираем подчеркивание */
    font-size: 0.85em; /* Меньший размер */
    font-weight: 500;
    transition: color 0.2s ease-in-out; /* Плавное изменение цвета при наведении */
    border: 1px solid red;
    padding: 10px 20px;
    border-radius: 25px;
}

.column__view-more:hover {
    color: #ff7f7f; /* Светлее красный при наведении */
    border: 1px solid #ff7f7f;
}