.news-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  border: 1px solid white;
  background-color: white;
  width: 100vw;
  margin-left: calc(50% - 50vw);
}

.navbar-news {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 60px auto 0;
}

.news-main {
  color: white;
  font-family: "Staatliches", sans-serif;
  font-size: 40px;
  margin: 0;
}

.search-bar {
  display: flex;
  align-items: center;
  border-bottom: 1px solid white;
  padding: 4px 0;
  width: 250px;
  background-color: transparent;
}

.search-input {
  flex: 1;
  background: transparent;
  border: none;
  color: white;
  font-size: 14px;
  outline: none;
}

.search-input::placeholder {
  color: white;
}

.search-icon {
  color: white;
  width: 16px;
  height: 16px;
  margin-left: 6px;
  pointer-events: none;
}

.new-game {
  align-items: center;
  display: flex;
  gap: 60px;
  justify-content: center;
  margin-top: 10px;
  padding: 10px 1px;
}

.new-game img {
  border: 1px solid #5b8c2d;
  border-radius: 5px;
  object-fit: cover;
  transition: transform 0.2s ease;
}

.new-game img:hover {
  transform: scale(1.03);
}

.tournaments {
  color: white;
  font-family: "Staatliches", sans-serif;
  font-size: 40px;
  margin-left: 160px;
  margin-top: 100px;
}

.Tournaments-news {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  margin-top: 40px;
}

/* Карточка с турниром */
.tournament-card {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.tournament-card img {
  object-fit: cover;
  border-radius: 10px;
}

.tournament-card:hover {
  transform: scale(1.03);
}

.light-button {
  position: absolute;
  bottom: 15px;
  right: 0px;
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.light-button img {
  transition: transform 0.2s ease;
}

/* Эффект при наведении */
.light-button:hover img {
  transform: scale(1.1);
}