html, body, #root {
  height: 100%;
  margin: 0;
  padding: 10px 30px;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #2c3055, #1c1c34);
  overflow-x: hidden;
}

.navbar {
  display: flex;       
  align-items: center; 
  gap: 50px;        
  font-family: "Open Sans", sans-serif;
  color: white;
  font-size: 20px;
}

.navbar p:hover {
  cursor: pointer;
  color: #e92227;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-text {
  color: white;
  font-family: "Staatliches", sans-serif;
  font-size: 100px;
  position: relative;
  top: 100px;
  margin-bottom: 150px; 
}

.main-text p{
  margin: 0px;
}

.small-text{
  font-family: "Open Sans", sans-serif;
  color: white;
  font-size: 25px;
  font-weight: 100;
}

.shop-button{
  color: white;
  font-family: "Staatliches", sans-serif;
  background: transparent;
  border: 1px solid white;
  border-radius: 25px;
  padding: 20px 30px;
  font-size: 30px;
}

.shop-button:hover{
  color: #e92227;
  border: 1px solid #e92227;
  cursor: pointer;
}

.hero-section {
    display: flex;
    align-items: center;
}

.content-container{
  margin-left: 150px;
}

.games-text{
  font-family: "Staatliches", sans-serif;
  font-size: 35px;
}

.main-nav{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
  border: 1px solid white;
  background-color: white;
  
  /* Убираем собственный горизонтальный паддинг */
  padding: 10px 0; 
  
  /* --- МАГИЯ VW (ПОЛНАЯ ШИРИНА ЭКРАНА) --- */
  
  /* Устанавливает ширину, равную ширине всего окна просмотра */
  width: 100vw; 
  
  /* Сдвигает элемент влево на половину ширины экрана (50%) 
     и обратно на половину его собственной ширины (-50vw). 
     Это эффективно выравнивает левый край элемента с левым краем окна. */
  margin-left: calc(50% - 50vw);
}