html, body, #root {
  height: 100%;
  margin: 0;
  padding: 10px 30px;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #2c3055, #1c1c34);
}

.navbar {
  display: flex;       
  align-items: center; 
  gap: 50px;        
  font-family: "Open Sans", sans-serif;
  color: white;
  font-size: 20px;
}

.navbar p:hover {
  cursor: pointer;
  color: #e92227;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}